/*css styling for tweets*/

.tweet {
  opacity: 0.7;
  border-radius: 5px;
  border: 1px solid #C0C0C0;
  width: 700px;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 15px;
  vertical-align: middle;
}

article header {
  display: flex;
  border-radius: 5px;
  border: 0.5px;
  background-color: #ededed;
  width: 698px;
  padding-right: 20px;
  margin-right: 0px;
  margin-top: 0px;
}

.article-header .image {
  width: 60px;
  height: 60px;
  margin: 10px;
}

.article-header h2 {
  flex-grow: 1;
  margin-top: 15px;
}

.tweet-here {
  width: 700px;
  padding: 20px 30px;
  border-bottom: 0.5px solid #D3D0D4;
  font-size: 25px;
}

.article-footer {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 5px 10px;
  font-size: 12px;
}

.handler {
  margin-left: 430px;
  font-size: 16px;
  color: darkgrey;
  margin-top: 20px;
}

.tweet:hover {
  opacity: 1;
}

.tweet:hover i {
  opacity: 1;
}

article footer .timestamp {
  font-size: 16px;
  margin-left: 10px
}


article footer.article-footer {
  display: flex;
  justify-content: space-between;
}

article.tweet footer .icons{
  visibility: hidden;
  padding: 10px 0px;
}

.tweet:hover .icons {
  visibility: visible;
  margin-bottom: 20px;
}

.icons i {
 float: right;
 padding: 0px 5px;
}





